<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - Novamag</title>
    {% else %}
    <title>Novamag 1.0</title>
    {% endif %}
  </head>
  <body>
       {% block content %}{% endblock %}
       <!-- Footer -->
        <div><h4>Universidad de Burgos - Novamag</h4></div>
       <img src="{{url_for('static', filename='images/logos/escudo_COLOR_2L_DCHA.png')}}" alt="UBU Logo" height="42" width="100">
       <img src="{{url_for('static', filename='images/logos/novamag_logo_2_0_trans.png')}}" alt="Novamag Logo" height="42" width="100">
       <img src="{{url_for('static', filename='images/logos/Admirable-Transparente.png')}}" alt="Admirable Logo" height="42" width="42">
  </body>
</html>